@page "/orders/{OrderId}/windows/{WindowId}/elements"

@using SalesOrder.DataContract

<h1 style="text-align: center"> Elements </h1>

<a href="/orders/@OrderId/windows"> <span style="font-size: large;font-weight:bold">&#8592; Back </span> </a>

<SfGrid TValue="Element" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
    <SfDataManager Url="@($"/api/windows/{WindowId}/elements")" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn Field="@nameof(Element.Id)" IsPrimaryKey="true" Visible="false"></GridColumn>
        <GridColumn Field="@nameof(Element.Number)" IsPrimaryKey="true" AllowEditing="false" ValidationRules="@(new ValidationRules { Min = 1})"></GridColumn>
        <GridColumn Field="@nameof(Element.Type)" Width="150" AllowEditing="false"></GridColumn>
        <GridColumn Field="@nameof(Element.Height)" Width="150" ValidationRules="@(new ValidationRules { Min = 1})"></GridColumn>
        <GridColumn Field="@nameof(Element.Width)" Width="150" ValidationRules="@(new ValidationRules { Min = 1})"></GridColumn>
    </GridColumns>
    
</SfGrid>

@code {
    [Parameter]
    public string OrderId { get; set; }
    [Parameter]
    public string WindowId { get; set; }

}
