@page "/"

@using SalesOrder.DataContract

<h1 style="text-align: center"> Orders </h1>

<SfGrid TValue="Order" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
    <SfDataManager Url="/api/Orders" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn Field="@nameof(Order.Id)" IsPrimaryKey="true" Visible="false"></GridColumn>
        <GridColumn Field="@nameof(Order.Name)" Width="150"></GridColumn>
        <GridColumn Field="@nameof(Order.State)" Width="150"></GridColumn>
        <GridColumn HeaderText="Total Windows" TextAlign="TextAlign.Center" Width="120">
            <Template>
                @{
                    var order = (context as Order);
                    <div><a href="/orders/@order.Id/windows"> @order.WindowsCount </a></div>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code{
}